<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="/static/js/ase.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <style>
        .button-error {background: rgb(202, 14, 17);font-size: 70%;}
        .button-success {background: rgb(28, 184, 65);font-size: 70%;}
    </style>
    </head>
    <body>
        <a class="pure-button" id="ws"></a>
        <p id="pid"></p>
        <button id="start" class="pure-button-primary pure-button" >start</button>
        <button id="stop" class="pure-button-primary pure-button" >stop</button>
        <button id="restart" class="pure-button-primary pure-button" >restart</button>
        <pre id="log" style="height: 10em; overflow: auto; background-color: #778899;"></pre>
    </body>
</html>