<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="/static/js/cpu.js"></script>
        <script type="text/javascript" src="/static/js/jquery.canvasjs.min.js"></script>
        <script type="text/javascript" src="/static/js/smoothie.js"></script>
    </head>
    <body>
        <!--<pre id="log" style="height: 30em; overflow: auto; background-color: #778899;"></pre>-->
        <!--<div id="chartContainer" style="height: 300px; width:100%;"></div>-->
        <canvas id="smoothie-chart" width="400" height="170"></canvas>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    </body>
</html>